{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block header %}Home
{% endblock %}

{% block content %}
{% for mix in mixes %}
	<div class="mixBox">
		<h2>{{mix.title}}</h2>
		<img src="{{mix.cover}}" alt="">
		<audio controls src="{{mix.audio}}"></audio>
		<p>{{mix.description}}</p>
	</div>
{% endfor %}
{% endblock %}
